<%= render components::Box.new do %>
  <p class=<%= bulma_class_names('has-text-overflow-ellipsis') %>>
    <%= render_link %>
  </p>

  <p class="<%= bulma_class_names('mb-0') %>">
    <%= render_label %>
  </p>

  <p>
    <%= task.slug %>
  </p>
<% end %>
