<% link_classes = { 'archived' => 'secondary', 'done' => 'secondary', 'icebox' => 'info', 'in_progress' => 'success', 'to_do' => 'primary', 'wont_do' => 'danger' } %>
<% status_names = { 'archived' => 'Archived', 'done' => 'Done', 'icebox' => 'Icebox', 'in_progress' => 'In Progress', 'to_do' => 'To Do', 'wont_do' => "Won't Do" } %>
<div>
  <h1 class='d-inline-block'><%= @task.title %></h1>

  <div class='float-end mt-3'>
    <%= link_to 'Edit Task', edit_task_path(@task), class: 'btn btn-outline-primary btn-sm' %>

    <%= link_to 'Delete Task', task_path(@task), method: :delete, class: 'btn btn-outline-danger btn-sm', data: { confirm: "Are you sure you want to delete task #{@task.title} (#{@task.slug})?" } %>
  </div>

  <p>
    <%= link_to 'Go To Project Board', project_board_path(@task.project), class: 'text-decoration-none text-success' %>
  </p>
</div>

<div class='row mb-2'>
  <div class='col-2 fw-bold'>Slug</div>
  <div class='col-10 font-monospace'><%= @task.slug %></div>
</div>

<div class='row mb-2'>
  <div class='col-2 fw-bold'>Project</div>
  <div class='col-10'><%= link_to @task.project.name, project_path(@task.project) %></div>
</div>

<div class='row mb-2'>
  <div class='col-2 fw-bold'>Task Type</div>
  <div class='col-10'><%= @task.task_type.capitalize %></div>
</div>

<div class='row mb-2'>
  <% status = Task::Statuses.values.find { |value| value == @task.status } %>
  <% text_class = "text-#{link_classes[@task.status]}" %>

  <div class='col-2 fw-bold'>Status</div>
  <div class="col-10 <%= text_class %>"><%= status_names[status] %></div>
</div>

<div class='mb-4'>
  <%= CommonMarker.render_html(@task.description, :DEFAULT, %i[table tasklist strikethrough tagfilter]).html_safe %>
</div>

<div class='mb-4'>
  <div>
    <h2 class='d-inline-block'>Relationships</h1>

    <div class='float-end mt-2'>
      <%= link_to 'Create Relationship', new_task_relationship_path(@task), class: 'btn btn-outline-primary btn-sm' %>
    </div>
  </div>

  <%= render partial: 'task_relationships/table', locals: { inverse_relationships: @inverse_relationships, relationships: @relationships } %>
</div>

<p>
  <%= link_to 'Back to Tasks', tasks_path, class: 'text-decoration-none' %>
</p>

