<% link_classes = { 'archived' => 'secondary', 'done' => 'secondary', 'icebox' => 'info', 'in_progress' => 'success', 'to_do' => 'primary', 'wont_do' => 'danger' } %>
<div class='container mb-1' style='border-bottom: 1px solid #dee2e6'>
  <div class='row fw-bold p-1 py-2' style='border-bottom: 1px solid #dee2e6; border-top: 1px solid #dee2e6;'>
    <div class='col-2'>Status</div>
    <div class='col-4'>Task</div>
    <div class='col-2'>Type</div>
    <div class='col-2'>Blocking</div>
  </div>

  <% if relationships.blank? && inverse_relationships.blank? %>
    <div class='row p-1 py-2'>
      <div class='col-12'>
        The task has no relationships.
      </div>
    </div>
  <% end %>

  <% relationships&.each do |relationship| %>
    <div class='row p-1 py-2'>
      <% task = relationship.target_task %>

      <div class='col-2'>
        <% relationship_type = TaskRelationship::RelationshipTypes.values.find { |type| type.key == relationship.relationship_type } %>

        <%= relationship_type.name.titleize %>
      </div>

      <div class='col-4'>
        <% text_class = "text-#{link_classes[task.status]}" %>

        <%= link_to task.title, task_path(task), class: "text-decoration-none #{text_class}" %>
      </div>

      <div class='col-2'>
        <% status = Task::Statuses.values.find { |value| value.key == task.status } %>

        <%= status.name.titleize %>
      </div>

      <div class='col-2'><%= relationship.blocking ? 'Yes' : 'No' %></div>

      <div class='col-2'>
        <div class='row text-center'>
          <%= link_to 'Edit', edit_task_relationship_path(task, relationship), class: 'col text-decoration-none' %>
          <%= link_to 'Delete', task_relationship_path(task, relationship), method: :delete, class: 'col text-decoration-none text-danger', data: { confirm: 'Are you sure you want to delete the relationship?' } %>
        </div>
      </div>
    </div>
  <% end %>

  <% if relationships.present? && inverse_relationships.present? %>
    <div class='row' style='border-bottom: 1px solid #dee2e6'></div>
  <% end %>

  <% inverse_relationships&.each do |relationship| %>
    <div class='row p-1 py-2'>
      <% task = relationship.source_task %>

      <div class='col-2'>
        <% relationship_type = TaskRelationship::RelationshipTypes.values.find { |type| type.key == relationship.relationship_type } %>

        <%= relationship_type.inverse_name.titleize %>
      </div>

      <div class='col-4'>
        <% text_class = "text-#{link_classes[task.status]}" %>

        <%= link_to task.title, task_path(task), class: "text-decoration-none #{text_class}" %>
      </div>

      <div class='col-2'><%= task.status.titleize %></div>

      <div class='col-2'><%= relationship.blocking ? 'Yes' : 'No' %></div>

      <div class='col-2'>
        <div class='row text-center'>
          <%= link_to 'Edit', edit_task_relationship_path(task, relationship), class: 'col text-decoration-none' %>
          <%= link_to 'Delete', task_relationship_path(task, relationship), method: :delete, class: 'col text-decoration-none text-danger', data: { confirm: 'Are you sure you want to delete the relationship?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
