<%= form_with model: project do |form| %>
  <% if project.errors.present? %>
    <p>
      Unable to <%= project.persisted? ? 'update' : 'create' %> project:
    </p>

    <ul>
      <% project.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class='row justify-content-start'>
    <div class='form-group col-sm-8 mb-2'>
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class='form-group col-sm-4 mb-2'>
      <%= form.label :slug, class: 'form-label' %>
      <%= form.text_field :slug, class: 'form-control', disabled: project.persisted? %>
    </div>

    <div class='form-group col-sm-4 mb-2'>
      <%= form.label :project_type, 'Project Type', class: 'form-label' %>

      <% project_types_options = Project::ProjectTypes.each.map { |key, value| [key.capitalize, value] } %>
      <%= form.select :project_type, project_types_options, {},   class: 'form-select' %>
    </div>

    <div class='form-group col-sm-6 mb-2'>
      <%= form.label :repository, class: 'form-label' %>
      <%= form.text_field :repository, class: 'form-control' %>
    </div>

    <div class='form-group col-sm-1 mb-2'>
      <%= form.label :active, class: 'form-label' %>

      <div class='form-check pt-2'>
        <%= form.check_box :active, class: 'form-check-input' %>
      </div>
    </div>

    <div class='form-group col-sm-1 mb-2'>
      <%= form.label :public, class: 'form-label' %>

      <div class='form-check pt-2'>
        <%= form.check_box :public, class: 'form-check-input' %>
      </div>
    </div>

    <div class='form-group col-sm-12 mb-2'>
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class='row justify-content-end mt-4'>
    <div class='form-group col-sm-3 mb-2'>
      <%= link_to 'Cancel', (@project.persisted? ? project_path(@project) : projects_path), class: 'btn btn-outline-secondary d-block w-100' %>
    </div>

    <div class='form-group col-sm-3 mb-2'>
      <%= form.submit nil, class: 'btn btn-outline-primary d-block w-100' %>
    </div>
  </div>
<% end %>
