<div>
  <h1 class='d-inline-block'>Projects</h1>

  <%= link_to 'Create Project', new_project_path, class: 'btn btn-outline-primary btn-sm float-end mt-3' %>
</div>

<div class='container mb-1' style='border-bottom: 1px solid #dee2e6'>
  <div class='row fw-bold p-1 py-2' style='border-bottom: 1px solid #dee2e6; border-top: 1px solid #dee2e6;'>
    <div class='col-3'>Name</div>
    <div class='col-2'>Active</div>
    <div class='col-2'>Public</div>
    <div class='col-3'>Project Type</div>
  </div>

  <% if @projects.blank? %>
    <div class='row p-1 py-2'>There are no projects matching the criteria.</div>
  <% end %>

  <% @projects&.each do |project| %>
    <div class='row p-1 py-2'>
      <div class='col-3'><%= project.name %></div>
      <div class='col-2'><%= project.active ? 'Yes' : 'No' %></div>
      <div class='col-2'><%= project.public ? 'Yes' : 'No' %></div>
      <div class='col-2'><%= project.project_type.capitalize %></div>
      <div class='col-3'>
        <div class='row text-center'>
          <%= link_to 'Show', project_path(project), class: 'col text-decoration-none text-info' %>
          <%= link_to 'Edit', edit_project_path(project), class: 'col text-decoration-none' %>
          <%= link_to 'Delete', project_path(project), method: :delete, class: 'col text-decoration-none text-danger' %>
        </div>
      </div>
      <div class='col-12 text-muted'>
        <%= project.description.split("\n").first %>
      </div>
    </div>
  <% end %>
</div>
