<% link_classes = { 'done' => 'success', 'icebox' => 'info', 'in_progress' => 'warning', 'to_do' => 'link' } %>
<% icon_classes = { 'bugfix' => 'bug', 'chore' => 'wrench', 'epic' => 'lightbulb', 'feature' => 'gear', 'investigation' => 'search', 'release' => 'award' } %>

<div class="level">
  <div class="level-left">
    <span class="title"><%= @project&.name || 'All Tasks' %></span>
  </div>

  <div class="level-right">
    <%= link_to 'Create Task', @project ? new_project_task_path(@project) : new_task_path, class: 'button' %>
  </div>
</div>

<div class="columns">
  <% %w[icebox to_do in_progress done].each do |status| %>
  <div class="column">
    <p class="title is-size-4"><%= status.titleize %></p>

    <% @tasks.fetch(status).each do |task| %>
      <div class="box">
        <p>
          <%= link_to(task.title, task_path(task), class: "has-text-#{link_classes[task.status]}") %>
        </p>

        <p>
          <span class="icon-text">
            <span class="icon" style="width: 1rem;">
              <i class="fas fa-<%= icon_classes[task.task_type] %> fa-fw"></i>
            </span>

            <%= task.task_type.titleize %>
          </span>
        </p>

        <p>
          <%= task.slug %>
        </p>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
