<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Lodestone</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/png" href="<%= image_path('favicon.png') %>">
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'bulma.min', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'font-awesome/fontawesome.min', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'font-awesome/brands.min', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'font-awesome/regular.min', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'font-awesome/solid.min', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'librum-components/styles', 'data-turbo-track': 'reload' %>

    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>

  <body>
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>
